<html ng-app="growceryApp">
<head>
<title>Growsery</title>

<link rel="stylesheet/less" type="text/css" href="growsery.less" />
<script src="/js/vendor/less/1.6.1/less-1.6.1.min.js"></script>

<script src="/js/vendor/require/2.1.9/require.js"></script>
<script>
	require.config({
		baseUrl : "/js",
		paths : {
			"jquery" : "vendor/jquery/2.0.3/jquery"
		}
	});
</script>

<script src="/js/vendor/angular/1.2.9/angular.js"></script>


<script src="/js/controller.js"></script>

</head>
<body ng-controller="GrowceryController">
	<h1>Growsery</h1>
	<div id="controls">	
		<span>status: {{status}}</span><br>
		<button name="save" ng-click="save()">Save</button>
		<button name="load" ng-click="load()">Load</button>

		<button name="saveRecipes" ng-click="saveRecipes()">Save Recipes to Server</button>
		<button name="loadRecipes" ng-click="loadRecipes()">Load Recipes from Server</button>
	
		<input type="checkbox" ng-model="showDishes">dishes
		<input type="checkbox" ng-model="showDishesIngredients">ingredients
		<input type="checkbox" ng-model="showMenu">menu
		<input type="checkbox" ng-model="showAdditionalGroceries">additional groceries
	</div>
	<div class="container" id="dishes" ng-model="dishes" ng-show="showDishes">
		<h2>Dishes</h2>

		<button name="addDish" ng-click="addDish()">Add	Dish</button>
		<ul class="content" name="dishes">
			<li class="dish" ng-repeat="dish in dishes">
			
				<input name="name" ng-model="dish.name" 
					placeholder="type dish name" type="text"> 
				for
				<input name="targetQuantity" ng-model="dish.targetQuantity"
					type="number">
				people
				<button name="remove" ng-click="removeDish(dish)">Remove</button>
				<button name="addToMenu" ng-click="copyDishToMenu(dish)">Add To Menu</button>
				
				<div name="ingredients" ng-show="showDishesIngredients">
					<button name="addIngredient" ng-click="dish.addIngredient()">Add Ingredient</button>
					<ul name="ingredients">
						<li class="ingredient" ng-repeat="grocery in dish.ingredients">
						
							<input name="name" ng-model="grocery.name" 
								placeholder="type grocery name" type="text"> 
						
							<input name="quantity" ng-model="grocery.quantity"
								type="number">
								
							<button name="remove" ng-click="dish.removeIngredient(grocery)">Remove</button>
						
						</li>
					</ul>
				
				</div>
			</li>
		</ul>

	</div>


	<div class="container" id="menu" ng-show="showMenu">
		<h2>Menu</h2>

		<ul name="dishes">
			<li class="dish" ng-repeat="dish in menu">
			
				<input name="name" ng-model="dish.name" 
					placeholder="type dish name" type="text"> 
				for
				<input name="quantity" ng-model="dish.quantity"
					type="number">
				people
				
				<button name="remove" ng-click="removeDishFromMenu(dish)">Remove</button>
			</li>
		</ul>

	</div>

	<div class="container" id="additional_groceries" ng-show="showAdditionalGroceries">
	<h2>Additional Groceries</h2>
		<button name="addGrocery" ng-click="addGrocery()">Add	Grocery</button>
		<ul name="additional_groceries">
			<li class="grocery" ng-repeat="grocery in groceries">
			
				<input name="name" ng-model="grocery.name" 
					placeholder="type grocery name" type="text"> 
			
				<input name="quantity" ng-model="grocery.quantity"
					type="number">
			    <button name="remove" ng-click="removeAdditionalGrocery(grocery)">Remove</button>
			</li>
		</ul>
	</div>

	<div class="container" id="groceries">
	<h2>All Groceries</h2>
		<ul name="groceries">
			<li class="grocery" ng-repeat="grocery in allGroceries()">
			
				<input name="name" ng-model="grocery.name" 
					placeholder="type grocery name" type="text"> 
			
				<input name="quantity" ng-model="grocery.quantity"
					type="number">
			
			</li>
		</ul>
	</div>

</html>