<html ng-app="growceryApp">
<head>
<title>Growsery</title>

<script src="/js/vendor/angular/1.2.9/angular.js"></script>
<script src="/js/controller.js"></script>
</head>
<body ng-controller="GrowceryController">
	<h1>Growsery</h1>
	<button id="addGrocery" ng-click="addGrocery()">Add
		Grocery</button>

	<ul id="groceries">
		<li class="grocery" ng-repeat="grocery in groceries">
		
			<input placeholder="type grocery name" type="text"
				value="{{grocery.name}}"> 
		
			<input type="number"
				value="{{grocery.quantity}}">
		
		</li>
	</ul>
</html>